<!-- INTERPOLACION: One way (DEL COMPONENTE >>>> VISTA, TS >>>> HTML)-->
<p>{{listadoElementos[0].name}}</p>

<p>Elemento 0: {{getElement(0)}}</p>
<p>Elemento 1: {{getElement(1)}}</p>

<p>{{nombre}}</p>

<!-- EVENT BINDING: One way (DE LA VISTA >>>> COMPONENTE, HTML >>>> TS)-->
<button (click)="openDialog()">Haz click aquí</button>

<!-- USO DE INTERPOLATION Y EVENT BINDING -->
<p>Elemento {{i}}: {{getElement(i)}}</p>
<input type="button" *ngIf="i > 0" (click)="anteriorElemento()" value="<<" />
<button *ngIf="i < this.listadoElementos.length - 1" (click)="siguienteElemento()">>></button>

<!-- PROPERTY BINDING -->
<br />
<img width="200px" [src]="imageUrl" />
<button (click)="cambiarImagen()">Cambiar imagen</button>


<!-- TWO WAY DATA BINDING -->
<br /><input type="number" [(ngModel)]="anchura" />
<p>Anchura: {{anchura}}</p>
